
<div class="homeBar">

    <div ng-show = "!user" class = "userArea">

     <img src ='./media/pic/icon.png'  class = ' headerLogo'/>

        <form class = "loginForm" ng-submit="login()">
               <input type="text" ng-model="userData.username" placeholder = "Username" class = "loginInput">
               <input type="password" ng-model="userData.password" placeholder = "Password" class = "passwordInput">
               <input class="btn btn-primary loginButton"  type="submit" id="submit" value="Login" />
               <button type="button" class="btn btn-primary signupButton" ng-click="openSignupModal('lg')" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
               <span class="glyphicon glyphicon-pencil"></span> Signup
               </button>
        </form>
        <p>{{message}}</p>

    <!-- <button type="button" class="btn btn-info btn-xs loginButton" ng-click="openLoginModal()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
        <span class="glyphicon glyphicon-log-in"></span> Login
    </button> -->
    </div>

    <div ng-show = "user" class = "userArea">
         <img src ='./media/pic/icon.png' class = ' headerLogo'/>

    <button class="btn btn-primary profileButton" ng-click = "goToProfile()">{{user.username}}</button>
    <button type="button" class="btn btn-primary  logoutButton" ng-click="logout()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
        <span class="glyphicon glyphicon-log-out"></span> Logout
        
    </button>


    </div>

 <!-- <div class = "homeMessage">Current Station: {{currentStation}}</div> -->

 <!-- <img src ='./media/pic/RadioRise5.jpg'/ class = 'homeLogo'> -->

</div>





<div ui-view class = "view"></div>      


