<div class = 'homeList'>

	<div class = 'songBox'>
<div class="col-md-12 searchDiv">
  <input class="form-control searchBar" ng-model="formData.search.name" placeholder="Search songs by name..."  />
  <span class="glyphicon glyphicon-search"></span>
</div>

<div class = "songBoxBuffer"></div>
	  <div class = 'repeatBoxes' ng-repeat="song in currentStationData.songs |  filter: formData.search | orderBy: '-upvotes' " ng-click="activateAndPlaySong(song)">
    <p style = "margin: 0px;text-align: center"> {{song.name}}</p>
     <p style = "margin: 0px;text-align: center">{{song.creator}}</p>
     <p style = "margin: 0px;text-align: center"> 
     Up: {{song.upvotes}}
     Down: {{song.downvotes}}
     </p>
    </div>
	</div>

	<div class = 'mainBox'>
        <div class="tagBox">   <div class = 'repeatTags' ng-repeat="tag in displayTags" ng-click="activateStation(tag)"> {{tag.name}}
        </div>
  <!--  <div class = "historyTag">History</div>  
        <div class = "historyTag">More</div> -->
      
      </div>
  <!--     <img src = './media/pic/RadioRise5.jpg' class = 'logo'/> -->
      <div class = "playBox">
       <input class='form-control progressBar' type=range min=0 max =1 step=0.001 ng-model='sound.progress'>
  <!-- VOLUME BAR HERE
    <label>Volume</label>
    <input class='form-control' type=range min=0 max=1 step=0.01 ng-model='sound.volume'> -->
     <button ng-show="sound.paused" ng-click='sound.paused ? sound.play() : sound.pause()'>Play</button>
     <button ng-hide="sound.paused" ng-click='sound.paused ? sound.play() : sound.pause()'>Pause</button>
  <div class = "playerSongData" ng-hide="sound.paused">
  <img ng-src = '{{upvoteButtonSrc}}'  ng-mouseenter = "changeImage('upvoteButtonSrc', './media/pic/design1upvoteselected.png')" ng-mouseleave = "changeImage('upvoteButtonSrc', './media/pic/design1upvotenormal.png')" ng-hide = "currentSong.rated" ng-click='upvoteSong()' class = "upvoteButton"></img>
  <img ng-src = '{{downvoteButtonSrc}}' ng-mouseenter = "changeImage('downvoteButtonSrc', './media/pic/design1downvoteselected.png')"
   ng-mouseleave = "changeImage('downvoteButtonSrc', './media/pic/design1downvotenormal.png')"
    ng-hide = "currentSong.rated" ng-click='downvoteSong()' class = "downvoteButton"></img>
 

  <button ng-show = "currentSong.rated" ng-click='skipSong()'>Skip</button>

  <div ng-show="currentSong.rated">
  {{currentSong.name}}
  {{currentSong.creator}}
  upvotes: {{currentSong.upvotes}}
  downvotes: {{currentSong.downvotes}}

  <h1>{{currentSong.description}}</h1>
  </div>
<div ng-hide="currentSong.rated">
Rate the song to see information!
</div>

 </div>
{{playMessage}}
     </div>








            <div class="uploadBox" nv-file-drop="" uploader="uploader" filters="lengthFilter, formatFilter,sizeFilter">
                <div class="well my-drop-zone" nv-file-over=""  uploader="uploader">
                    Drop a song in here!
                    {{songMessage}}
                </div>
                <div class ="uploadboxes" ng-repeat="item in uploader.queue">
                    <div><strong>{{ item.file.name }}</strong>                                 <td ng-show="uploader.isHTML5" nowrap> - {{ item.file.size/1024/1024|number:2 }} MB</td></div>
                              <div>
                               <!--      <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button> -->
                                <!--     <button type="button" class="btn btn-warning btn-xs" ng-click="openSongModal()" ng-disabled="item.isUploading">
                                         <span class="glyphicon  glyphicon-edit"></span> Edit
                                    </button> -->
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                              </div>
                            <div class = "progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                               

                </div>
            </div>
            <div class = "uploadBoxButtons">
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                     <div>
                        </div>
                        <button type="button" class="btn btn-success btn-xs" ng-click="uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-warning btn-xs" ng-click="openSongModal()" ng-disabled="!uploader.queue.length">
                            <span class="glyphicon glyphicon-edit"></span> Edit All
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button>
            </div>
  
 <!--
     <div class="col-md-3">

                    <h3>Drop and Upload!</h3>

                    <div ng-show="uploader.isHTML5">
                        <!-- 3. nv-file-over uploader="link" over-class="className" -->

                        <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
                      <!--   <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
                            <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
                                TEST AREA DON'T PUT ANYTHING IN THIS ZONE
                            </div>
                        </div> -->
 <!--
                    </div>

                    <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
 <!--   
                    <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>
                </div>

                <div class="col-md-9" style="margin-bottom: 40px">

                    <h3>Upload queue</h3>
                    <p>Queue length: {{ uploader.queue.length }}</p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td><strong>{{ item.file.name }}</strong>
     <div class="itemURL alert alert-success" ng-show="item.isSuccess ">{{item.tempURL}}</div>
                                </td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                         <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                              </td>
                            </tr>
                        </tbody>
                    </table>

                    <div>
                        <div>
                            Queue progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button>
                    </div>
                </div>
-->





   <!--         <p>Name: <input type="text" ng-model="formData.songName"></p>
           <p>Tag: <input type="text" ng-model="formData.songTag"></p> -->
  <!--     <p>{{ songTag }}</p> -->
<!-- <input ng-model="formData.searchText"/> -->
<button ng-click="check()">Check!</button>

<button ng-click="DESTROY()">DELETE DATABASE!</button>






	</div>

</div>