<form id="payment-form">
  <span class="payment-errors"></span>

  <div class="form-row">
    <label>
      <span>Card Number</span>
      <input type="text" size="20" ng-model = "payment.card.number"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>CVC</span>
      <input type="text" size="4" ng-model = "payment.card.cvc"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Expiration (MM/YYYY)</span>
      <input type="text" size="2" ng-model = "payment.card.exp_month"/>
    </label>
    <span> / </span>
    <input type="text" size="4" ng-model= "payment.card.exp_year"/>
  </div>

  <button type="submit" ng-click = "charge()">Submit Payment</button>
</form>

<div go-away class = "footer">
    <div style="
    margin-left: 1%;" class = "footerButton"><a class = "footerLink" ui-sref="home.list">Home</a></div>
    <div class = "footerButton"><a class = "footerLink" ui-sref="home.about">About</a></div>
    <!-- <button class = "check" ng-click="goToPayment()">Payment Page!</button> -->
    <form action="/api/chargePremium" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_7cQzshpAnkxtmo0972yRqR4r"
    data-image="../media/pic/icon.png"
    data-name="Demo Site"
    data-description="2 widgets"
    data-amount="2000"
    data-locale="auto">
  </script>
</form>
    <button class = "check" ng-click="check()">Check!</button>
</div>