        <div class="uploadHeader">
        <div class = "flexHorizontal uploadHeaderRow uploadHeaderRow1">Welcome To RadioRise!</div>
            <!-- <h3 class="modal-title">{{userProfile.username}}</h3> -->


<div class="mainUploadModalDiv" ng-class = '{mainUploadModalDivAnimation: animationSwitch}'>
        
        <div class = "uploadPaneContent">

   <tabset>
       <tab style = "padding-left: 40.5%;" heading="Sign Up">
    <form ng-submit="signup()">


  <div style ="width: 50%;
    font-size: 16px;
    margin-left: 25%;
        margin-top: 3.75%;
            flex-direction: column;" layout="" layout-sm="column">
        <md-input-container flex="">
          <label>Username</label>
          <input ng-model="userData.username">
        </md-input-container>
                <md-input-container flex="">
          <label>Email</label>
          <input ng-model="userData.email">
        </md-input-container>
        <md-input-container flex="">
          <label>Password</label>
          <input type="password" ng-model="userData.password">
        </md-input-container>
         <!-- <md-input-container flex="">
          <label>Confirm Password</label>
          <input type="password" ng-model="userData.passwordConfirm">
        </md-input-container> -->
      </div> 


            <p id = "signupMessage">{{message}}</p>

           <p style = "margin-left:40%;"><input style="" class="btn btn-primary"  type="submit" id="submit" value="Sign Up" />
           </p>

    </form>
            <button class="btn btn-warning" style = "
            float:right;
    margin-right: 390px;
    margin-top: -44px;" ng-click="cancel()">Cancel</button>
    </tab>

    <tab heading="Log in">
    <form ng-submit="login()">
      

      <div style ="width: 50%;
    font-size: 16px;
    margin-left: 25%;
        margin-top: 3.75%;
            flex-direction: column;" layout="" layout-sm="column">
        <md-input-container flex="">
          <label>Username</label>
          <input ng-model="userData.username">
        </md-input-container>
        <md-input-container flex="">
          <label>Password</label>
          <input type="password" ng-model="userData.password">
        </md-input-container>
      </div> 
        

            <p id = "signupMessage">{{message}}</p>
           <p style = "margin-left:40%;"><input style="" class="btn btn-primary"  type="submit" id="submit" value="Login" /> 
            </p>


    </form>
            <button class="btn btn-warning" style = "
            float:right;
    margin-right: 365px;
    margin-top: -44px;" ng-click="cancel()">Cancel</button>
    </tab>

  </tabset>




</div>

        </div>
              

    

        </div>


        <div class="modal-footer songFormFooter">
          <div class = "flexHorizontal">
             Sign in or sign up to enjoy all of RadioRise's Features!
          </div>
        </div>
