        <div class="uploadHeader">

        <div class = "flexHorizontalStart uploadHeaderRow uploadHeaderRow1">
         <div ng-hide = "modalMode == 'edit'" style= "margin-top: -1%;margin-left: 1%" ng-click = "cancel()"><span class = "glyphicon glyphicon-remove"></span></div>
          <div style = "text-align: center;
    width: 100%;" ng-show = "modalMode == 'edit'">{{currentSong.name}}</div>
          <div style = "    text-align: center;
    margin-left: -1%; 
    width: 100%;" ng-show = "modalMode == 'form'"> Sign up or Sign in to upload your music! </div>
          <div style = "    text-align: center;
       margin-left: -1%; 
    width: 100%;" ng-show = "modalMode == 'upload'"> Upload a Song into RadioRise! </div>

        </div>
            <!-- <h3 class="modal-title">{{userProfile.username}}</h3> -->
      <div class = "playerForModal flexHorizontal uploadHeaderRow uploadHeaderRow2"ng-class = "{playerForModalAnim: currentSong.filepath}">
        <div style = "width: 80%;" class = "" ng-show = "currentSong.filepath">
       


         <div class = "uploadHeaderRadioButtons">
                 <div ng-show="sound.paused" ng-click='sound.paused ? sound.play() : sound.pause()' style = "    margin-right: -65px;" class = "playButton "></div>
                 <div ng-hide="sound.paused" ng-click='sound.paused ? sound.play() : sound.pause()' class = "pauseButton"></div>
          </div>
              <div style = "margin-top: -77px;" class = " uploadProgressBar ">
                  <md-slider step = "0.001" flex="" ng-model="sound.progress" min="0" max="1" aria-label="blue" id="blue-slider" class="md-primary">
                 </md-slider>
              </div>
          </div>
          <div style = "margin-top: 25px;" ng-show = 'loadingAfterUpload'>
         <img src = './media/pic/circleSelectBlack.png' class = "circleSelect circleSelectSpin" style = " height: 40px;
         width: 40px;"></div>                
        </div>

<div class="mainUploadModalDiv" ng-class = '{mainUploadModalDivAnimation: animationSwitch}'>
        <div class = "uploadPaneContent">


  <!-- START OF LOGGEDIN CHECK -->

        <div class = "uploadSongPanePlayer" ng-show = "modalMode == 'form'">

   <div class =  "uploadSongPaneFormArea" ng-show = "!User.profile">


   <uib-tabset>
    <uib-tab heading="Log in">
    <form ng-submit="login()">
      

      <div style ="width: 50%;
    font-size: 16px;
    margin-left: 25%;
        margin-top: 3.75%;
        flex-direction: column;" layout="" layout-sm="column">
        <md-input-container flex="">
          <label>Username</label>
          <input ng-model="userData.username">
        </md-input-container>
        <md-input-container flex="">
          <label>Password</label>
          <input type="password" ng-model="userData.password">
        </md-input-container>
      </div> 
        

            <p id = "signupMessage">{{message}}</p>
           <p style = "margin-left:40%;"><input style="" class="btn btn-primary"  type="submit" id="submit" value="Login" /> 
            </p>


    </form>
            <button class="btn btn-warning" style = "
            float:right;
    margin-right: 365px;
    margin-top: -44px;" ng-click="cancel()">Cancel</button>
   </uib-tab>
    <uib-tab heading="Sign Up">
    <form ng-submit="signup()">


  <div style ="width: 50%;
        font-size: 16px;
        margin-left: 25%;
        margin-top: 3.75%;
        flex-direction: column;" layout="" layout-sm="column">
        <md-input-container flex="">
          <label>Username</label>
          <input ng-model="userData.username">
        </md-input-container>
                <md-input-container flex="">
          <label>Email</label>
          <input ng-model="userData.email">
        </md-input-container>
        <md-input-container flex="">
          <label>Password</label>
          <input type="password" ng-model="userData.password">
        </md-input-container>
         <!-- <md-input-container flex="">
          <label>Confirm Password</label>
          <input type="password" ng-model="userData.passwordConfirm">
        </md-input-container> -->
      </div> 


            <p id = "signupMessage">{{message}}</p>
           <p style = "margin-left:40%;"><input style="" class="btn btn-primary"  type="submit" id="submit" value="Sign Up" />
           </p>

    </form>
            <button class="btn btn-warning" style = "
            float:right;
    margin-right: 390px;
    margin-top: -44px;" ng-click="cancel()">Cancel</button>
    </uib-tab>
  </uib-tabset>
  </div>
  </div>

  <!-- START OF UPLOAD AREA -->
        <div class = "uploadSongPanePlayer" ng-show = "modalMode == 'upload'">
       
<div class = "uploadRulesDiv flexVertical">
  <div style = "    font-size: 16px;
         margin-top: 310px;
         align-content:center; 
         padding-left: 25px;
         padding-right: 35px;">
    <div>
<h1 style = "margin-top:90px;">Hello everyone!</h1>
<h4>We hope that you are enjoying your time on RadioRise. Things are new around here, so bear with us while we refine the website and develop our service. Our goal is to provide the most freedom possible to the RadioRise community. As a music service, we strive to promote creativity and limit restrictions on users. That being said, we do ask that you adhere to just a few conditions to help the site run smoothly and to keep us out of trouble. Also, keep in mind that these conditions will be periodically edited. Although we will do our best to notify you of any changes, your continued use of RadioRise constitutes an implied acceptance to anything outlined below or posted elsewhere on the website. </h4>
<h1>Conditions</h1>
<h5><ul>By uploading on to RadioRise you are willingly providing your copyrighted material to be publically streamed interactively by all users and you should not expect any monetary compensation for such material.</ul>
<ul>Please do not spam the website in any way shape or form. Spam may consist of uploading duplicate recordings, installing bots, or creating multiple accounts for the sake of gaining an unfair advantage.</ul>
<ul>Most importantly, please do not upload illegal material on the website. This includes any content in which you do not own the copyright for. We are aware that there is a grey area with covers, derivitive works, etc. But if you have any doubt whatsoever over a certain work, it is safer to just refrain from uploading it altogether.</ul></h5>
<h1>Privacy</h1>
<h5>Upon creating an account on RadioRise, we ask you to submit an eligible email address, username, and password. The email address is hidden from all other users on the website and can be used for logging in and facilitating communication between users and RadioRise. The username is displayed on the profile page and is meant to identify specific users on the website. The password is fully encrypted and securely stored away in a data base. Extra information we collect includes profile descriptions, track descriptions, and rating habits. As of right now, we do not share any data with third parties.</h5>
<h5>DMCA "The Digital Millenium Copyright Act"
DMCA take down requests allow us to know about any and all illegal material on RadioRise. If there is any content on RadioRise that infringes on your intellectual property rights, then please file a DMCA take down request to our designated DMCA agent. We hope that this is never the case, but it is a necessary precaution that we need to employ.</h5>
--DMCA agent information–
If you have any questions or concerns, please contact support@radiorise.com
    </div>
<!--     <div>
       You are agreeing to the rest of the terms of service by uploading.
    </div> -->
  </div>
</div>
  
  <input type="file" nv-file-select="" uploader="uploader" id = "hiddenUploadButton" />
    <div style ="" 
    file-button class="modalUploadBox" nv-file-drop="" uploader="uploader" filters="lengthFilter, formatFilter,sizeFilter" ng-click = "clickHiddenUpload()">
                <div class="my-drop-zone" nv-file-over=""  uploader="uploader" ng-hide = "uploader.queue.length > 0">
                 <!-- glyphicon glyphicon-cloud-upload -->
                 <div class = "">
                    <div style = "
                    font-weight: 300;
                    font-size: 20px;  
                    color: white;
                    font-family: Roboto; 
                    margin-top:-50px; ">
                    Drag and Drop to Upload
                      <div style = "font-size: 30px;">
                      {{uploadMessage}}
                      </div>
                    </div>
                 </div>
                </div>
                <div class ="my-drop-zone-filled" ng-repeat="item in uploader.queue">
                    <div class = "uploadNameDiv"><strong>{{ item.file.name }}</strong> 
                    <td ng-show="uploader.isHTML5" nowrap> - {{ item.file.size/1024/1024|number:2 }} MB</td></div>
                              <div class = "uploadButtons"> 
                               <!--      <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button> -->
                                <!--     <button type="button" class="btn btn-warning btn-xs" ng-click="openSongModal()" ng-disabled="item.isUploading">
                                         <span class="glyphicon  glyphicon-edit"></span> Edit
                                    </button> -->
<!--                                     <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove();">
                                      
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button> -->
                                       {{uploadMessage}}
                             
                              </div>


<!--       <div class = "modalUploadProgressBar " style="margin-bottom: 0;">
       <div class="progress-bar " role="progressbar" ng-style="{ 'width': item.progress + '%' }" >   
     </div>
         </div> -->
                               

                </div>

            </div>
  


          </div>

<!-- START OF EDIT CONTENT -->
            <div class = "uploadSongPanePlayer" ng-show = "modalMode == 'edit'">

            <div class =  "uploadSongPanePlayerSongData" ng-show = "currentSong.filepath">
          <form>
  <div style ="width: 50%;
    flex-direction: column;
    font-size: 16px;
    margin-left: 25%;
    margin-top: -16%;
    height: 400px;" layout="" layout-sm="column">
    Type a Station Tag that doesn't exist in order to create a brand new station!
          
          <tags-input ng-model="currentSong.tags" display-property="name" 
                      placeholder="Station Tags" 
                      replace-spaces-with-dashes="false"
                      max-tags = "5"
                      id = "tagsInputBox"
                      enforce-max-tags>
            <auto-complete 
                     min-length="0"
                     load-on-focus="true"
                     load-on-empty="true"
                     max-results-to-show="32"
                     source="loadTags($query)"
                     template="autocomplete-template"></auto-complete>
          </tags-input>
          
        <md-input-container style = "    
        margin-bottom: -35%;
        margin-top: 5%;" flex="">
          <label>Song Name</label>
          <input ng-model="editChangesObj.name">
        </md-input-container>
        <md-input-container md-no-autogrow='true' flex>
        <label>Description</label>
        <textarea  ng-model="editChangesObj.description" columns="1" md-maxlength="140"></textarea>

      </md-input-container>

  </div>
       

        <button style = "margin-top: -212px;
    margin-left: 680px;" class="btn btn-warning " ng-click="sendEdits(currentSong)">
     <!-- <span class="glyphicon glyphicon-ok"></span> -->
     Confirm</button>

         </form>
        <button style = "    margin-top: -552px;
    margin-left: 20px;
    height: 36px;
    width: 175px;
" class="btn btn-primary " ng-click="resetAndUploadAgain()"> <span class="glyphicon glyphicon-cloud-upload"></span> Upload Another Song</button>

            <!-- Tags: -->
<!--            <button class="btn btn-primary-xs" ng-click="addTag(song)">Add Tag</button>
           <p ng-repeat="tag in song.tags"><input maxlength="25" type="text" ng-model="tag.tagname" placeholder = "Tag"> </p> -->


            </div>
            </div>







</div>

        </div>
                       <div class = " uploadHeaderRow uploadHeaderRow3">
                  
                    <!-- Share link: <b>{{shareURL}}</b> -->
                    
                    <!-- <input class = "uploadShareURL" type="text" ng-model="shareURL" onClick="this.select();" readonly /> -->
                  </div> 

                  <div class = "uploadHeaderRow uploadHeaderRow4">

    <div class = "modalUploadProgressBar " style="margin-bottom: 0; background-color:'grey'" ng-show = "modalMode == 'upload'">
       <div class="progress-bar " role="progressbar" ng-style="{ 'width': uploader.queue[0].progress + '%' }" >   
     </div>

   </div>

   <!--                  <div
                    socialshare 
                    socialshare-provider="twitter"
                    socialshare-text= ""
                    socialshare-url="http://risingtest.azurewebsites.net/#/s/{{currentSong._id}}"
                    class = 'twitterShareButton'> </div>
                    <div
                    socialshare 
                    socialshare-provider="facebook"
                    socialshare-text= ""
                    socialshare-url="http://risingtest.azurewebsites.net/#/s/{{currentSong._id}}"
                    class = 'facebookShareButton'> </div>
                    <div
                    socialshare 
                    socialshare-provider="google+"
                    socialshare-text= ""
                    socialshare-url="http://risingtest.azurewebsites.net/#/s/{{currentSong._id}}"
                    class = 'googleShareButton'> </div> -->
                    <div>  {{editSectionMessage}}</div>
                 </div>

        </div>


        <div class="modal-footer songFormFooter">
          <div class = "flexHorizontal" ng-show = "modalMode == 'edit'">
            <!-- Choose some station tags to have your song rated! -->
          </div>
          <div class = "flexHorizontal" ng-show = "modalMode == 'upload'">
<!--             Upload your music. -->
          </div>
          <div class = "flexHorizontal" ng-show = "modalMode == 'form'">
            <!-- Sign up or Sign in to upload your music! -->
          </div>
        </div>

<script type="text/ng-template" id="autocomplete-template">
      <div class="autocomplete-template">
        <div class="left-panel">
        </div>
        <div class="right-panel">
          <span style = "font-weight:900">{{data.name}}</span>
          <span>Number of Songs: {{data.songs.length}} </span>
        </div>
      </div>
    </script>
    
     <!--      <span>Created By: {{data.creator}}</span> -->