@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext,greek-ext,greek,vietnamese,cyrillic,cyrillic-ext);



.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

a:focus{
outline:none;
}

html, body {
    /*max-width: 100%;*/
    overflow-x: hidden;
}
 html{ 

  height: 100%;
   width: 100%;
    margin: 0; 
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;
    margin-top:auto;
    overflow-x: hidden;
    overflow-y: auto;
    /*width:1920px;*/
    height:1080px;
}

.landingDiv{
 height:100%;
 width:100%;
 background-color:white;
}
.flexParent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.view {
		height:100%;
		width:100%; 
		overflow-x: hidden;
		overflow-y:hidden;
}

.check{
color:black;
}
/*home.html*/

.homeBar{
  	order: 0;
    height: 6%;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:  center;
    justify-content:  center;
   	 border-top: solid;
  border-bottom: solid;
  border-width: 1.5px;
  border-style: solid;
  border-color: silver;
}

.footer{
	display: flex;
    flex-direction: row;	
    align-items:  center;
    justify-content:  flex-start;
	width: 100%;
	height:42px;
	background-color: #242424;
	color:white;
	border-top: solid 1px;
	order:0;
	position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;

}
.footerButton{
	    margin-right: 3%;
}
.footerLink{
	color:white;
	cursor: pointer;
	    color: white;
    font-weight: 800;
}
.headerLogo{
      height: 50px;
    width: 50px;
    margin-top: -0.15%;
   }
.homeLogo {
	order:1;
  width: 55%;
  padding-right: 13%;
  padding-left: 13%;

}

#bubbleDiv{
width:100%;
height:100%;
background-color: grey;
}

.userArea{
	order:0;
	height: 75%;
	width: 100%;
    display: flex;
}
.loginInput{
  margin-left: 1%;
  /*font-size: 20px;*/
  height: 15%;

    min-width: 75px;
    max-width: 200px;
    width: 40%;
    margin-top: 11.7px;
  text-align: center;

}
.passwordInput{
	  margin-left: 5%;
  /*font-size: 20px;*/
  height: 15%;
     min-width: 75px;
    max-width: 200px;
    width: 40%;
    margin-top: 11.7px;
  text-align: center;
}
.signupButton {
	height:30%;		
  	background-color: #EBEBEB;
  	color:black;
	border: 1px solid silver;

    border-radius: 0px; 
	margin-left: 5%;
        margin-top: 1.25%;
}
.signupButton:hover{
 background-color: grey;
 border: 1px solid silver;
 border-radius: 0px;
}
.loginButton {
		height:30%;
border: 1px solid silver;
   border-radius: 0px; 
		margin-left: 5%;
		    margin-top: 1.25%;
}

.loginButton:hover{
  	background-color: #1D517E;
  	  border: 1px solid silver;
border-radius: 0px;
}
.loginForm {
	display: flex;
	flex-grow:1;
   flex-shrink:0;

    margin-right: 2.5%;
}

.logoutButton {		
  	background-color: #EBEBEB;
  	color:black;
	border: 1px solid silver;
    border-radius: 0px; 
    margin-left: 0%; 
  width: 5%;
    min-width: 100px;

  height: 34px;
  border: 1px solid silver;
  border-radius: 0px;
    margin-top: 8px;
      margin-left: 0%;
      color: black;
     margin-right: 4%;
}

.logoutButton:hover{
	 background-color: grey;
 border: 1px solid silver;
 border-radius: 0px;
}
.profileButton{
  	background-color: #2F54A5;
  	color:black;
    margin-right: 5%;
    border-radius: 50%;
width: 50px;
    height: 50px;
    border: 0px;
    margin-top: -1px;
    font-size: 30px;
    margin-left: 0%;
	  color:white;
}

.profileButton:hover{
    background-color: #487FF8;
    border: 0px;
  
}
.homeMessage{
	order:2;
}



.playerInput{
}

.playerButtons{
}





/*home.list.html*/


.homeList{
	height: 50%;
	display: flex;
	align-items:  center;
	flex-wrap:wrap;
    justify-content:  center;
    position:relative;
      border-top: solid;
  border-width: 1px;
  border-style: solid;
  border-color: silver;
}
.moveUp{
	  transition: all 1500ms cubic-bezier(0.175, 0.885, 0.335, 1);
   -ms-transform: translate(0%,-50%); /* IE 9 */
   	-webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0px,-50%);
}

.newIntroDiv{
	width:100%;
  height: 40%;
    background: #0087fa; /* Old browsers */
background: -moz-linear-gradient(top, #0087fa 1%, #006dc8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#0087fa), color-stop(100%,#006dc8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #0087fa 1%,#006dc8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #0087fa 1%,#006dc8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #0087fa 1%,#006dc8 100%); /* IE10+ */
background: linear-gradient(to bottom, #0087fa 1%,#006dc8 100%); /* W3C */
display: flex;
flex-direction:column;
  flex-wrap: nowrap;
     border-top: none;
  border-bottom: solid;
  border-width: 1px;
  border-style: solid;
  border-color: silver;

}


.introDiv{

/*	background: #2F54A5; 
background: -moz-linear-gradient(top, #2F54A5 1%, #0087fa 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#2F54A5), color-stop(100%,#0087fa)); 
background: -webkit-linear-gradient(top, #2F54A5 1%,#0087fa 100%);
background: -o-linear-gradient(top, #2F54A5 1%,#0087fa 100%); 
background: -ms-linear-gradient(top, #2F54A5 1%,#0087fa 100%); 
background: linear-gradient(to bottom, #2F54A5 1%,#0087fa 100%); 
*/
width:100%;
    height: 40%;
/*display: flex;
flex-direction:column;

  flex-wrap: nowrap;*/

   	 border-top: none;
  border-bottom: solid;
  border-width: 1px;
  border-style: solid;
  border-color: silver;
}


.bubbleWrapperDiv{
      position: absolute;
  background: #2F54A5; /* Old browsers */
background: -moz-linear-gradient(top, #2F54A5 1%, #0087fa 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#2F54A5), color-stop(100%,#0087fa)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #2F54A5 1%,#0087fa 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #2F54A5 1%,#0087fa 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #2F54A5 1%,#0087fa 100%); /* IE10+ */
background: linear-gradient(to bottom, #2F54A5 1%,#0087fa 100%); /* W3C */

width:100%;
    height: 50%;
     border-top: none;
  border-bottom: solid;
  border-width: 1px;
  border-style: solid;
  border-color: silver;
  overflow: hidden;
}
.bubbleProfileWrapperDiv{
      position: absolute;
  background: #2F54A5; /* Old browsers */
background: -moz-linear-gradient(top, #2F54A5 1%, #0087fa 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#2F54A5), color-stop(100%,#0087fa)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #2F54A5 1%,#0087fa 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #2F54A5 1%,#0087fa 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #2F54A5 1%,#0087fa 100%); /* IE10+ */
background: linear-gradient(to bottom, #2F54A5 1%,#0087fa 100%); /* W3C */

width:100%;
    height: 25%;
     border-top: none;
  border-bottom: solid;
  border-width: 1px;
  border-style: solid;
  border-color: silver;
  overflow: hidden;
}
.bubble{
  position: absolute;
  margin-top:570px;
  border-radius: 50%;
  border: white 2.5px solid; 
  opacity:.2;
   transition: none;
}
.profileBubble{
  position: absolute;
  margin-top:268px;
  border-radius: 50%;
  border: white 2.5px solid; 
  opacity:.2;
   transition: none;
}
.bubbleTopAnimation{
  margin-top: -15%;
  transition: all 10s;
}
/*.bubbleBig{
      min-width: 175px;
    min-height: 175px;
      width: 175px;
  height: 175px;
}
.bubbleMiddle{
      min-width: 100px;
    min-height: 100px;
      width: 100px;
  height: 100px;
}
.bubbleSmall{
      min-width: 50px;
    min-height: 50px;
      width: 50px;
  height: 50px;
}*/
.bubbleTeal{
  background-color:#00BECD; 
}
.bubbleLightBlue{
  background-color:#009BE2; 
}
.bubbleDarkBlue{
  background-color:#033570; 
}

.growDown{
 transition: all 1.5s;
 height:50%;
}
.introMessage{
  width:100%;
  height: 30%;
  font-family: Roboto;
  color:white;
  text-align: center;
  font-size: 65px;
  font-weight: 100;

  margin-top: 3.20%;
}


.introProfileName{
    width: 100%;
    height: 30%;
    font-family: Roboto;
    color: white;
    text-align: center;
    font-size: 37px;
    font-weight: 300;
    margin-left: -13%;
    margin-top: 2.75%;

}
.introProfileDiv{
width:100%;
    height: 25%;

    position: relative;
     border-top: none;
  border-bottom: solid;
  border-width: 1px;
  border-style: solid;
  border-color: silver;
}
.introProfileSubMessage{
  margin-left: 25%;
  width: 50%;
  height: 40%;
      font-family: Roboto;
  color: rgb(248, 248, 248);
  text-align: center;
  font-weight: 200;
  font-size: 30px;
 margin-top: -1%;
}
.introSubMessage{
  margin-left: 25%;
  width: 50%;
  height: 10%;
      font-family: Roboto;
  color: rgb(248, 248, 248);
  text-align: center;
  font-weight: 200;
  font-size: 30px;
 margin-top: -1%;
}
.modalUploadBox{
    /*order: 3;*/
    cursor: pointer;
    height: 200px;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    border-radius: 0px;
   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(1, 43, 115);
    border: 0px solid white;
}
.modalUploadBox:hover{
    /*order: 3;*/

    background-color: rgb(1, 0, 111);
 cursor: pointer;
   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.uploadRulesDiv{
  height: 260px;
    width: 100%;
    background-color: grey;
        overflow-y: auto;
    text-align: center;
}
.uploadBox{
  order: 3;
    cursor: pointer;
    height: 50px;
    width: 180px;
    border-radius: 0px;
   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(1, 43, 115);
    border: 0px solid white;
}
.uploadBox:hover{
  order: 3;

    background-color: rgb(1, 0, 111);
 cursor: pointer;
   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#hiddenUploadButton{
  display:none;
}
.hideElement{
display:none;
}
.my-drop-zone{
  text-align: center;
  border-top: dashed; 2px lightgray;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  height: 100%;
  font-size: x-large;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    color:white;
    align-items: center;
    border-color: white;
    border-style: solid;
    border-width: 0px;
}
.my-drop-zone-filled{
  text-align: center;
  border-top: solid 2px lightgray;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  height: 100%;
  font-size: x-large;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-style: solid;
background-color: rgba(#0087fa, 40);
  border-width: 1px;
  border-color: silver;
}
.mainBox{

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  /*background-color: black;*/
  order: 0;

}
.mainBox{
    display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  /*background-color: black;*/
  order: 0;
}

.leftTagBox{

	order: 0;
	width: 100%;
  	height: 100%;
  	display: flex;
  	flex-direction: column;
	justify-content: space-around;
}


.mainTagBox{

	order: 0;
	width: 100%;
  	height: 100%;
  	display: flex;
  	flex-direction: column;
	justify-content: flex-start;
	/*background-color: #f1f1f1;*/

}
.playBoxHeader{
    width: 90%;
    margin-top: 25px;
    min-width: 0px;
    margin-left: 13%;

    color: white;
    font-family: Roboto;
    font-size: 45px;
        flex-direction: column;
    font-weight: 100;
     display: flex;
    flex-wrap: wrap;
         transition: all .5s;
} 

.playBoxHeaderAdjustment{
     margin-left: 9%;
     transition: all .5s;
}
.playBoxHeaderAnimation{

}
.playHorizontal{
  opacity: 1;
      background-color: white;
      margin-left: 0px;
        width: 72%;
    height: 1px;
    position: absolute;

   min-width: 620px;  
}

.playHorizontalAnimation{
 transition: all 2.3s;
  margin-left: 0px;
    width: 83%;
}
.playHorizontalAnimationX{
      /*width: 85%;*/
}
.tagBoxHeader{
      margin-top: 3%;
    margin-left: -2%;
    font-family: Roboto;
      font-size: 45px;
  font-weight: 100;
}
.tagBox{
    margin-top: 1.5%;
  	height: 52%;
	display: flex;
	justify-content: space-around;
    width: 100%;
    /*delete below and change height to 50% if you want to remove border*/
 	padding-bottom: 1%;
 	padding-top: 1%;	
/*  	background-color: #fcfcfc;
    border-top: solid;
    border-bottom: solid;
    border-color:silver;
    border-width: 1.5px;*/
}

.tagLiner{
    height: 140.124px;
    display: flex;
    justify-content: space-around;

    /*background-color: #648181;*/
    width: 100%;
/*    padding-bottom: 1%;
    padding-top: 1%;*/
    margin-top: 2%;


}

.tagLinerLeft{
    height: 140.124px;
    display: flex;
    justify-content: space-around;

    /*background-color: #648181;*/
    width: 90%;
/*    padding-bottom: 1%;
    padding-top: 1%;*/
    margin-top: 1%;
    margin-left: 107%;

}
.tagBuffer{
width:10%;
}

.rightTagBox{

	order: 0;
	width: 100%;
  	height: 100%;
  	display: flex;
  	flex-direction: column;
	justify-content: space-around;
}
.carouselNoArrows{
	background-color: red;
}
.historyBox{
    font-family: Roboto;
    font-size: 25px;
    font-weight: 100;
    padding-top: 27px;
    margin-left: 0%;
    width: 100%;
    height: 80%;
    text-align: center;

    border-left:white 1px solid;
    margin-top: 30%;
        overflow-y: hidden;
      color:rgba(0, 253, 183, 1);
    overflow-x: hidden;
/*display: none;*/
 }
 .historyBoxOn{
  display: none;
 }

.historyButtonRow{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content:flex-start;
    background-color: none;
    margin-top: -35px;
  /*border-left: 1px solid white;*/
}
 .historyCategoryButton{
    height: 50px;
    width: 50px;
    margin-top: 30px;
    border:1px solid white;
    display: flex;

    justify-content: center;
      transition: all 600ms cubic-bezier(0.175, 0.885, 0.335, 1);

 }
 .historyCategoryButtonActive{
    background-color: white;
   color:black;
   cursor: pointer;
  transition: none;
 }
  .historyCategoryButtonActive > .glyphHistoryButton{
    background-color: white;
   color:black;
   cursor: pointer;
  transition: none;
 }
  .historyCategoryButton:hover{
  background-color: white;
   color:black;
   cursor: pointer;
  transition: none;
 }
 .historyCategoryButton:hover > .glyphHistoryButton{
  background-color: white;
   color:black;
   cursor: pointer;
  transition: none;
 }
.historyCategoryButtonCenter{
    height: 50px;
    width: 50px;
    margin-top: 30px;
    border:1px solid white;
    margin-left:  23px;
    margin-right:  23px;
        display: flex;
     transition: all 600ms cubic-bezier(0.175, 0.885, 0.335, 1);
    justify-content: center;
}
 .historyCategoryButtonCenter:hover{
  background-color: white;
   color:black;
   cursor: pointer;
  transition: none;
 }
 .historyCategoryButtonCenter:hover > .glyphHistoryButton{
  background-color: white;
   color:black;
   cursor: pointer;
  transition: none;
 }
.glyphHistoryButton{
    margin-top: 10px;
    color:white;
    font-size: 26px;
}
.playVerticalAnimation{
  transition: all 3s;

    height: 95%;
    margin-top: 6%;
}
.historyContainer{
    font-family: Roboto;
      font-size: 20px;
          overflow-y: scroll;
    overflow-x: hidden;
  font-weight: 100;
opacity: .50;
       padding-top: 15px;
    margin-top: 4%;
    height: 85%;
    width:100%;
}
 .historyContainerAnimation{
  transition: all 1s;
opacity: 1;
 }
.historyNameDiv{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    font-size:20px;
    margin-left: 0%;
    color:white;
    transition: all 600ms cubic-bezier(0.175, 0.885, 0.335, 1);
    background-color: rgba(0, 253, 183, 0.1);
         opacity: 0.65;
        border-bottom: rgba(255, 255, 255, 0.52) solid 1px;

}
.historyNameDiv.ng-leave{
 display: none;

}
.historyNameDivUp{
  background-color: rgba(215, 255, 187, 0.63);
    opacity: 0.90;
  color:black;

}


.historyNameDivDown{
background-color: rgba(255, 0, 60, 0.71);
    opacity: 0.90;
    color: white;

}
.historyNameDivSelected{
font-weight: 500;
color:black;
background-color: rgba(255, 255, 255, 1);
transition: all 600ms cubic-bezier(0.175, 0.885, 0.335, 1);
opacity: 1;
        border-bottom: rgba(255, 255, 255, 0.52) solid 6px;
    border-top: rgba(255, 255, 255, 0.52) solid 4px;
    
}
.historyNameDiv{

}

.historyNameDiv:hover{
opacity: .85;
background-color: white;
   color:black;
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.335, 1);
}
.historyNameDiv:nth-child(1) {
}
.rightTagBoxDivider{

  	height: 51.5%;
	display: flex;
	justify-content: flex-start;
    width: 100%;
    /*delete below and change height to 50% if you want to remove border*/
  /*	background-color: #fcfcfc;
    border-top: solid;
    border-bottom: solid;
    border-color:silver;
    border-width: 1.5px;*/

}




.leftTagBoxDivider{

  	height: 51.5%;
	display: flex;
	justify-content: flex-end;
    width: 100%;
    /*delete below and change height to 50% if you want to remove border*/
/*  	background-color: #fcfcfc;
    border-top: solid;
    border-bottom: solid;
    border-color:silver;
    border-width: 1.5px;*/

}

.leftStationBoxDivider{
  	height: 51.5%;
	display: flex;
	justify-content: center;
    width: 100%;
}

.stationBoxDivider{
	display: flex;
	justify-content: center;
    width: 100%;
    height: 100%;

}

.subStationList{
    height: 53px;
    margin-left: 13.5%;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}

.stationLabelSection{
  display:flex; flex-direction:column;
}
.circleSelect{
    height:75px;
  width:75px;
}
.circleSelectSpin{
    -webkit-animation:spin 3.5s linear infinite;
    -moz-animation:spin 3.5s linear infinite;
    animation:spin 3.5s linear infinite;
}
.loadingFirstLabel{

  height:125px;
  width:50px;
    -webkit-animation:spin 3.5s linear infinite;
    -moz-animation:spin 3.5s linear infinite;
    animation:spin 3.5s linear infinite;
}

@-moz-keyframes spin { 100% 
  {
  -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin { 100% 
   { 
    -webkit-transform: rotate(360deg);
   } 
 }
@keyframes spin { 100% 
  { -
    webkit-transform: rotate(360deg); 
    transform:rotate(360deg); } 
  }

.repeatTags{
    border: solid;
	height: 138.109px;
    /*width: 223.5px;*/
    width:17%;
    border-width: 1px;
    font-size: 18px;
	/*color: white;*/
	z-index: 1;
	background: #FCFCFC;
	border-color: #1677bb;
	color:#5F5F5F;
	overflow: hidden;
	/*display: flex;
	align-items:  center;
    justify-content:  center;*/
    -moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	position: relative;
	  transition: all 600ms cubic-bezier(0.175, 0.885, 0.335, 1);

}
.repeatTags:hover {
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.335, 1);
  	border-color:#1677bb;
	background-color: #1677bb;
/*   -ms-transform: translate(0px,-5px); 
   	-webkit-transform: translate(0px,-5px); 
    transform: translate(0px,-5px);*/

}
.repeatTags:hover >  .rotateButton{
	margin-top: 0px;
	border-color:#1677bb;
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.335, 1);
/*   -ms-transform: translate(0px,-5px); 
   	-webkit-transform: translate(0px,-5px); 
    transform: translate(0px,-5px);*/
}
.rotateButton{
	color: white;
	border:none;
	height: 138.109px;
    width: 100%;
	margin-top:  -223.5px;
	border-color:#1677bb;
	font-weight: 700;
	text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
	    transition: all 600ms cubic-bezier(0.175, 0.885, 0.335, 1);
    word-wrap: break-word;
}

.option-selected.option-hover:hover{
    background-color: black;
}

.repeatTagsRight{
    border: solid;
	height: 80%;
	margin-right: .5%;
    border-width: 1px;
    width: 16%;
    font-size: 18px;
	/*color: white;*/
	z-index: 1;
	background: #FCFCFC;
	border-color: silver;
	color:#1677bb;
	display: flex;
	align-items:  center;
    justify-content:  center;
    -moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	  position: relative;

}
.repeatSelectedTag{
    border: solid;
  margin-top: 5%;
	margin-left: 44%;
  height: 74.1%;
  border-width: 1px;
  width: 56%;
    font-size: 18px;
	color: white;
	background: #1677bb;
	display: flex;
	align-items:  center;
    justify-content:  center;
    -moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
}
.tagDivider {
	width:100%;
	font-weight: 700;
	text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    word-wrap: break-word;
}

.tagDividerSelected {
	width:100%;
	font-weight: 700;
	text-align: center;
    position: relative;

}
.tagDisplayButton{
		height:138.109px;
	width: 100%;
	margin-top: 85px;
}

.repeatTagsSelected {
	display: inline;
    border-right: solid;
    border-width: 1px;
}


.playBox{

	order: 0;
	width: 100%;
  	height: 100%;
  	display: flex;
  	flex-wrap: wrap;
	/*background-color: #f1f1f1;*/

}


.leftContainer{
  order:0;
  width: 15%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
   /*border-width: 0px;*/
  /*border-bottom: 1px;*/
  /*border-style: solid;*/
  /*border-color: silver;*/
}

.rightContainer{
  order:2;
  width: 15%;
  height: 80%;

  display: flex;
  flex-wrap: wrap;
  position: relative;
      z-index: -4;
    background-color: rgba(255, 255, 255, 0.999999999999999);
  /*background-color: #f1f1f1;*/
	  border-width: 0px;
	  border-bottom: 1px;
	  border-style: solid;
	  border-color: silver;

}
.mainContainer{
  order: 1;
  width: 70%;
    height: 80%;
  display: flex;
  flex-wrap: wrap;
  /*background-color: #f1f1f1;*/
  /*border-width: 0px;*/
  /*border-bottom: 1px;*/
  /*border-style: solid;*/
  /*border-color: silver;*/
}

.leftPlayerContainer{
    order: 0;
     width: 0%; 
    /*flex-shrink: 0;*/
        /*flex-grow: 0;*/
    /*background-color: chocolate;*/
    height: 100%;

}

.rightPlayerContainer{
    order: 2;
    /*background-color: chocolate;*/
     /*width: 30%; */
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: -2;
    flex-shrink: 0;
    flex-grow: 3;
 max-width: 240px
}
.containerNoFlex{
  

}
.mainPlayerContainer{
    order: 1;
    flex-shrink: 9;
    flex-grow: 9;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
    z-index: -4;
}
.tagArrowDiv{
	  display:flex;
	  flex-direction: row;
	  justify-content: space-between;
}
.tagArrowRight{
margin-top: 33.5%;
width: 0;
height: 0;
margin-left: 10%;
cursor:pointer;
border-style: solid;
border-width: 10px 0 10px 20px;
border-color: transparent transparent transparent #007bff;
}

.tagArrowRight:hover{
margin-top: 33.5%;
width: 0;
height: 0;
margin-left: 10%;
cursor:pointer;
border-style: solid;
border-width: 10px 0 10px 20px;
border-color: transparent transparent transparent black;
}

.tagArrowLeft{
margin-top: 33.5%;
width: 0;
height: 0;
cursor:pointer;
margin-right: 10%;
border-style: solid;
border-width: 10px 20px 10px 0;
border-color: transparent #007bff transparent transparent;
}

.tagArrowLeft:hover{
margin-top: 33.5%;
width: 0;
height: 0;
cursor:pointer;
margin-right: 10%;
border-style: solid;
border-width: 10px 20px 10px 0;
border-color: transparent black transparent transparent;
}

.genreListBox{
	order: 5;
	margin-left: 15%;
	width: 70%;
  	margin-top: 3%;
  	height: 35%;
  	display: flex;
  	flex-direction: column;
	justify-content: space-around;
	background-color: #f1f1f1;

    border-style: solid;
    border-width: 1px;
    border-color:silver;
}
.playerBuffer{
  flex-grow:1;
  flex-shrink:0;
width:0%;

}
.playDivider{

    margin-top: 0%;
    /*background-color:   grey;*/
	  width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 365px;

}
.progessDivider{
		  width: 100%;
  display: flex;
     height: 17%;
}
.playMessage{
	width:100%;
	text-align: center;
}
.uploadboxes
{
	height:20%;
}

.uploadBoxButtons{
margin-left: 25%;
width: 45%;
height: 5%;
background-color: gray;
}




.songBox{
	display: flex;
	border-right: solid;
	border-width: 1px;
	width: 15%;
	height:115%;
	float:left;
    flex-direction: column;
}
.songBoxBuffer{
	width:100%;
	height:4.25%;
	text-align: center;
	vertical-align: middle;
    border-bottom: solid;
	 font-size: 1.4em;
}
.repeatSongBoxes{
    border-bottom: solid;
    border-width: 1px;
    display:flex;
    height:6%;
    flex-wrap: wrap;
 	border: 1px solid #aaa;
}
.repeatSongBoxes:hover{
    border-bottom: solid;
    background-color: grey;
    cursor:pointer;
}

.repeatSongNameBox{
 order: 0; 
 width:75%;
 font-weight: bold;
 font-size: 1.25em;
 text-align: center;
 white-space: nowrap;
}
.repeatSongUserBox{
 color: #31a5ff;
 font-size: .75em;
}
.repeatSongUpBox{
 width:25%;

 text-align: center;
 order: 1;
}
.repeatSongUpBoxImg{
	margin-top: 10%;
	width:25px;
}
.repeatBoxes{
	display: block;
    border-bottom: solid;
    border-width: 1px;
}
.repeatBoxes:hover{
	background-color: grey;
	cursor:pointer;
}

.repeatBoxesSelected{
	background-color: grey;
	cursor:pointer;
	color:white; 
}


/*.historyTag{
	display: inline;
    border-left: solid;
    float:right;
    border-width: 1px;
    padding-left:2px;
    font-size: 18px;
}*/


.logo{
width: 45%;
margin-left: 20%;
}



 
.nv-file-over { 
	border: dotted 1.5px green; 
} 

.another-file-over-class {
 border: dotted 1.5px green;
 }
.itemURL
{
height: 50px;
margin-top: 10px;
margin-bottom: 10px;
}

.radioButtons{

 width: 215px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /*background-color: beige;*/
}
.playerSongData{
  /*background-color: cadetblue;*/
    min-width: 500px;
     /*flex-grow: 110;*/
    height:78%;
    text-align: center;
    display: flex;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0%;
    margin-left: 0%;
}
.rightBufferForProgress{

    min-width: 35px;
}
.extraMinWidthForBuffer{

    min-width: 80px;
}
.rateItMessage{
	  font-size: x-large;
	 display:flex;
	 /*height:40%;*/
	flex-direction: row;
	/*align-items: center;*/
    justify-content: flex-start;
	 /*background-color: white;*/
   width: 100%;
       /*background-color: #633E3E;*/
}
.votingArea{
	display:flex;
	flex-direction: column;
	justify-content: space-around;
  /*background-color: green;*/
  margin-left: 10%;

}
.rateItMessageIntro{
   font-size: x-large;
   display:flex;
   flex-direction: row;
   justify-content: center;
   width: 100%;
   background-color: #633E3E;

}

.votingAreaIntro{
    
    max-width: 700px;
    min-width: 650px;
  color:white;
  font-size: 25px;
/*background-color:brown;*/
  display:flex;
  flex-direction: column;
    justify-content: center;
}
.firstVisitMainLabel{
      max-width: 700px;
    min-width: 650px;
  color:white;
  font-size: 15px;
/*background-color:brown;*/
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
    justify-content: flex-start;
    /*justify-content: center;*/

}
.halfDim{
  opacity: .5;
}
.votingAreaRated{
display:flex;
  flex-direction: column;
  justify-content: space-around;
  /*background-color: green;*/
 margin-left: 3%;    
}
.questionMarks{
    margin-top: -31px;
  cursor:default;  
    color: rgba(0, 0, 0, 0.1);
    font-size: 250px;
}
.questionNotice{
    font-family: Roboto;
    font-weight: 200;
    color: white;
  width: 400px;
  position:fixed;
  color:white;
  font-size: 27px;
    margin-top: -232px;
  margin-left: 0.5%;
}
.smallerImageMainPageFirst {
  transform: scale(0.83, 0.83);
-ms-transform: scale(0.83, 0.83);
-webkit-transform: scale(0.83, 0.83);
}
.animationForUpvotePng{
transform: scale(0.75, 0.75);
-ms-transform: scale(0.75, 0.75);
-webkit-transform: scale(0.75, 0.75);
background: url('../media/pic/3animation.png') 0px 0px;

    width: 200px;
    height: 200px;
}
.animationForUpvotePngSecondFrame{
  
transform: scale(0.75, 0.75);
-ms-transform: scale(0.75, 0.75);
-webkit-transform: scale(0.75, 0.75);
background: url('../media/pic/3animation.png') 200px 0px;

    width: 200px;
    height: 200px;
}

.smallerImageMainPage {
  transform: scale(0.75, 0.75);
-ms-transform: scale(0.75, 0.75);
-webkit-transform: scale(0.75, 0.75);
}
.upvoteButton{
transform: scale(0.50, 0.50);
-ms-transform: scale(0.50, 0.50);
-webkit-transform: scale(0.50, 0.50);
    opacity: 0.70;
    margin-top:4px;

    margin-bottom: -110px;
margin-left: 1%;
margin-right:1%;
  cursor:pointer;
zoom: 100%;
width:138px;
height:138px;
background: url('../media/pic/upvote.png') 0px 0px;
border:none;
}
.upvoteButton:hover{

    opacity: 1;
width:138px;
height:138px;
background: url('../media/pic/upvote.png') 138px 0px;
}

.downvoteButton{
transform: scale(0.50, 0.50);
-ms-transform: scale(0.50, 0.50);
-webkit-transform: scale(0.50, 0.50);
    opacity: 0.70;
margin-left: 1%;
margin-right:1%;
  cursor:pointer;
	zoom: 100%;
width:138px;
height:138px;
background: url('../media/pic/downvote.png') 0px 0px;

}


.downvoteButton:hover{

    opacity: 1;
width:138px;
height:138px;
background: url('../media/pic/downvote.png') 138px 0px;

}

.favoriteButton{
transform: scale(.80, .80);
-ms-transform: scale(.80, .80);
-webkit-transform: scale(.80, .80);
    opacity: 0.5;
    margin-top:43px;
    margin-bottom: 10%;
    margin-left: 30px;
margin-right:0%;
  cursor:pointer;
zoom: 100%;
width:65px;
height:65px;
background: url('../media/pic/favorite.png') 0px 0px;
border:none;
}
.favoriteButton:hover{

    opacity: 1;
width:65px;
height:65px;
background: url('../media/pic/favorite.png') 65px 0px;
}
.favoritedButton{
transform: scale(.80, .80);
-ms-transform: scale(.80, .80);
-webkit-transform: scale(.80, .80);
opacity: 1;
    margin-top:43px;
    margin-bottom: 10%;
    margin-left: 30px;
margin-right:0%;
  cursor:pointer;
zoom: 100%;
width:65px;
height:65px;
background: url('../media/pic/favorite.png') 65px 0px;
border:none;
}

.favoritedButton:hover{
    opacity: 0.5;
width:65px;
height:65px;
background: url('../media/pic/favorite.png') 0px 0px;
}

.skipButton{
transform: scale(0.70, 0.70);
-ms-transform: scale(0.70, 0.70);
-webkit-transform: scale(0.70, 0.70);
    opacity: 1;
    margin-top: 0%;
    margin-left: -2%;
    /* margin-right: 1%; */
  cursor:pointer;
zoom: 100%;
width:114px;
height:64px;
background: url('../media/pic/skip.png') 0px 0px;
border:none;
}
.skipButton:hover{
margin-left: -2.05%;
    opacity: 1;
width:114px;
height:64px;
background: url('../media/pic/skip.png') 114px 0px;
}

.glyphRatingIcon{
   font-size: 25px;
    text-align: center;
    color: #89E04B;
    font-family: Roboto;
    font-weight: 500;

}
.glyphRatingIconRed{
   font-size: 25px;
    text-align: center;
    color: #FF003C;
    font-family: Roboto;
    font-weight: 500;
    margin-left:-2px;
}
.playButtonWrapper{
  display:flex;
  justify-content:flex-start;
  flex-direction:row;
      margin-top: -4px;
}
.playButton{

  cursor:pointer;
transform: scale(0.4, 0.4);
-ms-transform: scale(0.4, 0.4);
-webkit-transform: scale(0.4, 0.4);
background: url('../media/pic/play.png') 0px 0px;
    margin-left: -80px;
    margin-top: -17px;
    width: 96px;
    height: 107px;
}
.playButton:hover{
transform: scale(0.4, 0.4);
-ms-transform: scale(0.4, 0.4);
-webkit-transform: scale(0.4, 0.4);
background: url('../media/pic/play.png') 96px 0px;

    width: 96px;
    height: 107px;
}
.playProfileButton{

  cursor:pointer;
transform: scale(0.4, 0.4);
-ms-transform: scale(0.4, 0.4);
-webkit-transform: scale(0.4, 0.4);
background: url('../media/pic/play.png') 0px 0px;
    margin-left: -25px;
    margin-top: -17px;
    width: 96px;
    height: 107px;
}
.playProfileButton:hover{
transform: scale(0.4, 0.4);
-ms-transform: scale(0.4, 0.4);
-webkit-transform: scale(0.4, 0.4);
background: url('../media/pic/play.png') 96px 0px;

    width: 96px;
    height: 107px;
}
.pauseButton{

  cursor:pointer;
transform: scale(0.4, 0.4);
-ms-transform: scale(0.4, 0.4);
-webkit-transform: scale(0.4, 0.4);
background: url('../media/pic/pause.png') 0px 0px;
    margin-left: -4px;
    margin-top: -22px;
width:96px;
height:107px;
}
.pauseButton:hover{
transform: scale(0.4, 0.4);
-ms-transform: scale(0.4, 0.4);
-webkit-transform: scale(0.4, 0.4);

width:96px;
height:107px;
}
.songInformation{
    text-align: left;
  color:white;
}
/*playerbar*/
.progressBar{

  height: 15%;
    width:300px;
    flex-grow:1750;
      margin-top: 7px;
}

.miniprogress{
	height:100%;
}
.uploadNameDiv{
  color:white;
	height: 10%;
}
.uploadButtons{
color:white;
}

input[type=range] {

  cursor:pointer;
	-webkit-appearance: none;
	border-radius: 0px;
	vertical-align: middle;
	outline: none;
	border:none;
	padding: 0;
	position: relative;
	vertical-align: middle;
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100%;
	background: transparent;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;

}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	position: relative;
	pointer-events:none;
	width: 8px;
	height: 100%;
}
input[type=range]::-webkit-slider-runnable-track {
	background: #757575; 
	height: 8px;
	margin:5px 0;

}
input[type=range]::-webkit-slider-thumb:before {
	content:"-";
	font-style: 0;
	line-height:0;
	position: absolute;
	left:-3000px;
	right:0;
	top:0;
	bottom:0;
	background: #1677bb;
}
input[type=range]::-webkit-slider-thumb:after {
	content: "";
	position: absolute;
	left:-4px;
	right:-4px;
	top:-4px;
	bottom:-4px;
	background: #adadad;
	border-radius: 50%;
	border:5px solid #e8e8e8;
	z-index: 10;
}
input[type=range]:focus {
	outline:none;
}
input[type=range]:hover::-webkit-slider-thumb:after,
input[type=range]:focus::-webkit-slider-thumb:after {
	background: black;
}
input[type=range]:disabled::-webkit-slider-thumb:before {
	background-color: #a1151a;

}
input[type=range]:disabled::-webkit-slider-thumb:after {
	background: #adadad !important;
}
/*end of playerbar*/

/*bootstrap override*/
input[type="range"] {

}

.form-control {
    padding-right: 30px;
}

.form-control + .glyphicon {
    position: absolute;
    right: 0;
    padding: 9px 0px;
}

/*signup.html*/
#signupMessage{
	float:left;
}

/*songForm.html*/
.uploadProgressBar{
    margin-top: -9.5%;
    /*background-color: grey;*/
    margin-left: 4%;
    width: 100%;
}
.uploadHeader{
	  display:flex;
	  flex-direction: row;
    flex-wrap: wrap;

}
.uploadHeaderRow{
    height:50%;
    width: 100%;
}
.uploadHeaderRow1{
    padding-top: 18px;
    padding-bottom: 25px;
 font-size:25px;
    background-color: #F1F1F1;
}
.uploadHeaderRow2{
margin-top:-1%;
background-color: #f9f9f9;
}
.uploadHeaderRow3{

background-color: white;
  margin-top:0px;
 font-size:11px;
 padding-left: 1.75%;
}
.uploadHeaderRow4{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
  /*background-color: white;*/
  flex-wrap:nowrap;
  height:60px;
  margin-top:0px;
background-color: white;
}


.nav-tabs{
  background: #f9f9f9; /* Old browsers */
border-bottom: 1px solid #0063B7;

}


.songFormFooter{
  background-color: #003164;
  color:white;
  font-size: 15px;
}
.twitterShareButton{
  transform: scale(0.15, 0.15);
  -ms-transform: scale(0.15, 0.15);
  -webkit-transform: scale(0.15, 0.15);
  width:256px;
  height:256px;
    margin-left: -90px;
  cursor:pointer;
  background: url('../media/pic/twitter.png') 0px 0px;

}
.googleShareButton{
  transform: scale(0.15, 0.15);
  -ms-transform: scale(0.15, 0.15);
  -webkit-transform: scale(0.15, 0.15);
  width:256px;
  height:256px;

    margin-left: -200px;
  cursor:pointer;
  background: url('../media/pic/google.png') 0px 0px;

}
.facebookShareButton{
  transform: scale(0.15, 0.15);
  -ms-transform: scale(0.15, 0.15);
  -webkit-transform: scale(0.15, 0.15);
  width:256px;
  height:256px;

    margin-left: -200px;
  cursor:pointer;
  background: url('../media/pic/facebook.png') 0px 0px;

}

.uploadHeaderRadioButtons{
    width: 8%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
    margin-left: -25px;
}

.modalUploadProgressBar{
    margin-top: 0%;
    /*margin-left: 0%;*/
    background-color: grey;
    margin-left: 1%;
    width: 98%;
    opacity: 0.50;
}
.progress-bar{
  background-color: black;
      height: 20px;
}
.mainUploadModalDiv{
	  width: 100%;
  display: flex;   
  overflow: hidden;
    height: 0px;
   background:white;
    flex-direction: column;
    justify-content: flex-start;
}
.mainUploadModalDivAnimation{
  transition:all 1s;
    height: 400px;
}
.uploadPaneContent{
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: flex-start;
}
.uploadPaneColumn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.uploadSongPanePlayer{
	display: flex;
  	flex-wrap: wrap;
	background-color: #f1f1f1;
		height: 600px
}
.uploadShareURL{
	    width: 50%;
    text-align: center;
}
.uploadSongPanePlayerSongData{
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;

  border: 1px solid #ddd;
}

.uploadSongPaneFormArea{
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: white;


}

.tagCarousel{
width:100%;
}

.carousel-control.left, .carousel-control.right {
color: black;
background-image: none;
}


.carousel-indicators {
display:none;	
}

.carousel-indicators li {
  background-color: #669966;
}
.carousel-indicators .active {
  background-color: #FF7600;

}
.carousel .item { }

.carousel .active.left {

}

.carousel .left{
 transition: all 1.5s;

} 

.carousel-control.right{
	    margin-right: -20%;

       transition: all 0s;
}

.carousel-control.left{
	    margin-left: -20%;
	     transition: all 0s;
}
.uploadModal{
   left: -28%;
}
.modal-content {
	width:898px;
	position: 	absolute;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*profile page*/
.profileWrapper{
	  width: 100%;
    height:100%;
	  display: flex;
  flex-direction: column;
  
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.mainProfileDiv
{
	  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.songPane{
background-color: white;
}

.songPaneContent{
}
.songPanePlayer{
	background-color: #f1f1f1;
  display: flex;
    flex-wrap: wrap;
    flex-direction:column;
		height: 275px;
    width:100%;
}
.profileSongPane{

}
.songPaneTagRack{
    width: 80%;
    height: 30px;
    display: flex;
        margin-left: 33%;
    margin-top: 10px;
    flex-wrap: wrap;
    /*background-color: grey;*/
}
.songPaneTags{
    margin-right: 1.5%;
    /*width: 15%;*/
    width:85px;
    height: 100%;
    /*min-width: 85px;*/
    color: white;
    font-weight: 400;
    padding-top: 4.5px;
    text-align: center;
    background-color: #ABBDCC;
}
.songPaneAudio{
width: 100%;
    margin-top: 22px;
    display: flex;
    flex-wrap: nowrap;
    height: 100px;
    /*background-color: lightblue;*/
}
.songPaneAudioButtons{
    margin-left: 25%;
    /*width: 15%;*/
    height: 100%;
    margin-right: -1%;
    margin-top: -0.06%;
}
.songPaneAudioLine{
  width:85%;
}
.songPaneDescriptionLine{
  width:100%;
  margin-top: 0px;
  height: 80px;
    background-color: none;
  text-align: center;
  display: flex;

}
.songPaneButtonLine{
  width: 100%;
    display: flex;
    /*height: 15%;*/
}
.songPaneAudioProgressBar{
    /*height: 15%;  */
       width: 60%;
     min-width: 525px;
  margin-top: -.45%;
}
.songPaneRadioButtons{
	width:15%;
display:flex;
flex-direction: column;
justify-content: flex-start;
/*background-color: blue;*/
align-items: center;

}
.songPanePlayDivider{

  margin-top: 2%;
	  width: 100%;
  display: flex;
  height: 92.5%;
}
.songPanePlayerSongData{
  width: 82%;
  height: 85%;
  text-align: center;
  display: flex;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  flex-direction: column;
  justify-content: space-around;
  background: #f9f9f9;
  margin: 1.575em 0 6px 0;
  border: 1px solid #ddd;
}

.introFix{
	display: none;
}

.autocomplete-template .left-panel {
  float: left;
}

.autocomplete-template .left-panel img {
  width: 48px;
  height: 48px;
  vertical-align: middle;
}

.autocomplete-template .right-panel {
  float: left;
  margin-left: 5px;
  margin-top: 7px;
}

.autocomplete-template .right-panel span:first-child {
  font-size: 16px;
}

.autocomplete-template .right-panel span:nth-child(2) {
  font-size: 14px;
  color: gray;
}

.autocomplete-template .right-panel span:last-child {
  display: block;
  font-size: 14px;
  font-style: italic;
}

.tab-pane{
    overflow-y: auto;
    height: 682px;

}

.songPaneHeader{
    padding-left: 33% !important;
    padding-top: -20px !important;
    margin-top: 0px !important;
    font-size: 20px !important;
}

.vAccordion--default v-pane-header {
     margin-bottom: 0px !important; 
     border-bottom: none !important; 
    -webkit-transition: color .25s,border-color .5s;
    transition: color .25s,border-color .5s;
}

.vAccordion--default v-pane-header {
    padding: 5px 0;
    -webkit-transition: color .25s,border-color .5s;
    transition: color .25s,border-color .5s;
}
.autocompletedemoCustomTemplate .autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }
.autocompletedemoCustomTemplate .autocomplete-custom-template li:last-child {
  border-bottom-width: 0; }
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title,
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2; }
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px; }

.mainSearchBar{
    /*background-color: tomato;*/
}
.mainSearchBarUnderneath{
  display:block;
}
.mainSearchBarSmall {
    display:none;
}

.md-autocomplete {
    border-radius: 2px;
    display: block;
    height: 40px;
    position: relative;
    overflow: visible;
    min-width: 250px !important; 
  }

.md-whiteframe-z1 {
     box-shadow: 0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0px rgba(0,0,0,0); 
  }    


  #leftBuffer {
    width:5% ;
  }

.flexHorizontal{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flexHorizontalStart{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flexVertical{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flexVerticalStart{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/*Start the stagger of animation*/
.stationLabel{
   
    margin-left: 0px;
    border: solid;
    height: 35px;
    width: 0px;
    border-width: 1px;
    font-size: 20px;
 
    margin-right: 4px;
    width: 100px;
    text-align: center;
    z-index: 1;
    background: rgb(0,0,0,0);
    overflow: hidden;
    font-family: Roboto;
    font-weight: 400;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    position: relative;
    margin-left: -60px;
    margin-top: 18px;

    color: rgba(0, 253, 183, 0.00);
    border-color: rgba(0, 253, 183, 0.00);


}
.stationLabel.ng-leave {
  display:none;
}
.stationLabelAnimation{
  color: rgba(0, 253, 183, 1);
  border-color: rgba(0, 253, 183, 1);
  margin-left: 20px;
  transition: .4s cubic-bezier(0, 0.53, 0.16, 1.4) all;
  /*-webkit-transition:.4s ease-in-out all;*/
-webkit-transition: .4s cubic-bezier(0, 0.53, 0.16, 1.4) all;
}
.playerForModal{
  height: 0px;
  /*transition: 1s linear all;*/
  /*-webkit-transition:.4s ease-in-out all;*/
/*-webkit-transition: 1s linear all;*/
}
.playerForModalAnim{
    height: 100px;
  /*transition: 1s linear all;*/
  /*-webkit-transition:.4s ease-in-out all;*/
/*-webkit-transition: 1s linear all;*/
}
.noPointer{
     -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.stationLabelLiner{
  margin-top: 3px;
}

.stationHiddenLabel{
  cursor: pointer;
  margin-left: 0px;
  border: solid;
  height: 35px;
  width: 0px;
  font-size: 20px;
  color: #EFF6FB;
  margin-right: 4px;
  width:100px;
  text-align: center;
  z-index: 1;
  background: rgb(0,0,0,0);
  border-color: white;
  overflow: hidden;
  font-family: Roboto;
    font-weight: 300;
    -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  position: relative;
  color: white;
  margin-left:20px;

  border-width: 1px;
    margin-top: 18px;
    opacity: 0;
  cursor: pointer;
 transition: none;
  -webkit-transition:none;
}

.stationHiddenLabel:hover{
 color:black;
 background-color: white;
transition: none;
  -webkit-transition:none;
}
.stationHiddenLabel.ng-leave{
  display: none;
}

.animateHiddenTags {
 opacity: 1;
 transition: .4s ease-in-out all;
  -webkit-transition:.4s ease-in-out all;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}