.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html, body { 
  height: 100%; width: 100%; margin: 0; 
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;
    margin-top:auto;
    width:1920px;
    height: 1080px;	
}

.flexParent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.view {
		height:100%;
		width:100%;
}

/*home.html*/

.homeBar{
  	order: 0;
    height: 30%;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:  center;
    justify-content:  center;
}

.homeLogo {
	order:1;
  width: 55%;
  padding-right: 13%;
  padding-left: 13%;
  border-top: solid;
  border-bottom: solid;
  border-color: rgba(192, 192, 192, 0.50);
  border-width: 1.5px;
}

.userArea{
	order:0;
	margin-top: 1%;
	margin-left: 1%;
	height: 25%;
}

.signupButton {
}

.loginButton {
}

.loginForm {
}

.logoutButton {
}

.homeMessage{
	order:2;
}



.playerInput{
}

.playerButtons{
}





/*home.list.html*/


.homeList{
	height: 50%;
	display: flex;
	align-items:  center;
	flex-wrap:wrap;
    justify-content:  center;
}

.footer{
	display: flex;
    flex-direction: row;
	
	width: 100%;
	height: 0%;
	border-top: solid 1px;
	order:0;
}

.mainBox{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  height: 70%;
  margin-top: 2%;
  /*background-color: black;*/
  order: 0;
	
}

.leftTagBox{

	order: 0;
	width: 100%;
  	height: 100%;
  	display: flex;
  	flex-direction: column;
	justify-content: space-around;
}

.rightTagBox{

	order: 0;
	width: 100%;
  	height: 100%;
  	display: flex;
  	flex-direction: column;
	justify-content: space-around;
}

.mainTagBox{

	order: 0;
	width: 100%;
  	height: 100%;
  	display: flex;
  	flex-direction: column;
	justify-content: space-around;
	background-color: #f1f1f1;

}
.tagBox{

  	height: 52%;
	display: flex;
	justify-content: space-around;
    width: 100%;
    /*delete below and change height to 50% if you want to remove border*/
  	background-color: #fcfcfc;
 	padding-bottom: 1%;
 	padding-top: 1%;	
    border-top: solid;
    border-bottom: solid;
    border-color:silver;
    border-width: 1.5px;
}
.rightTagBoxDivider{

  	height: 51.5%;
	display: flex;
	justify-content: flex-start;
    width: 100%;
    /*delete below and change height to 50% if you want to remove border*/
  	background-color: #fcfcfc;
	
    border-top: solid;
    border-bottom: solid;
    border-color:silver;
    border-width: 1.5px;

}
.leftTagBoxDivider{

  	height: 51.5%;
	display: flex;
	justify-content: flex-end;
    width: 100%;
    /*delete below and change height to 50% if you want to remove border*/
  	background-color: #fcfcfc;
    border-top: solid;
    border-bottom: solid;
    border-color:silver;
    border-width: 1.5px;

}
.repeatTags{
    border-radius: 10px;
    border: solid;
    height: 100%;
 	border-width: 1px;
  	width: 15%;
    font-size: 18px;
	color: white;
	background: #1677bb;
	display: flex;
	align-items:  center;
    justify-content:  center;
    -moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
}

.tagDivider {
	width:100%;
	font-weight: 700;
	text-align: center;

    word-wrap: break-word;
}

.repeatTags:hover {
	color:#1677bb;

	background-color: white;
}
.repeatTagsSelected {
	display: inline;
    border-right: solid;
    border-width: 1px;
}


.playBox{

	order: 0;
	width: 100%;
  	height: 100%;
  	display: flex;
  	flex-wrap: wrap;
	background-color: #f1f1f1;

}


.leftContainer{
  order:0;
  width: 15%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  /*background-color: red;*/
}

.mainContainer{
  order: 1;
  width: 70%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  background-color: #f1f1f1;

    border-style: solid;
  border-width: 1px;
  border-color: silver;
}
.rightContainer{
  order:2;
  width: 15%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  /*background-color: red;*/

}
.uploadBox{
order: 3;
width: 70%;
height:30%;
margin-left: 15%;
background-color: #fcfcfc;

}
.my-drop-zone{
	text-align: center;
	border-top: solid 2px lightgray;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	height: 100%;
	font-size: x-large;
	  display:flex;
	  flex-direction: column;
	  justify-content: space-around;
	  align-items: center;
	      border-style: solid;
  border-width: 1px;
  border-color: silver;
}


.tagArrowDiv{
	  display:flex;
	  flex-direction: row;
	  justify-content: space-between;
}
.tagArrowRight{
margin-top: 33.5%;
width: 0;
height: 0;
margin-left: 10%;
border-style: solid;
border-width: 10px 0 10px 20px;
border-color: transparent transparent transparent #007bff;
}

.tagArrowRight:hover{
margin-top: 33.5%;
width: 0;
height: 0;
margin-left: 10%;
border-style: solid;
border-width: 10px 0 10px 20px;
border-color: transparent transparent transparent black;
}

.tagArrowLeft{
margin-top: 33.5%;
width: 0;
height: 0;
margin-right: 10%;
border-style: solid;
border-width: 10px 20px 10px 0;
border-color: transparent #007bff transparent transparent;
}

.tagArrowLeft:hover{
margin-top: 33.5%;
width: 0;
height: 0;
margin-right: 10%;
border-style: solid;
border-width: 10px 20px 10px 0;
border-color: transparent black transparent transparent;
}

.genreListBox{
	order: 5;
	margin-left: 15%;
	width: 70%;
  	margin-top: 10%;
  	height: 35%;
  	display: flex;
  	flex-direction: column;
	justify-content: space-around;
	background-color: #f1f1f1;

    border-style: solid;
    border-width: 1px;
    border-color:silver;
}

.playMessage{
	width:100%;
	text-align: center;
}
.uploadboxes
{
	height:20%;
}

.uploadBoxButtons{
margin-left: 25%;
width: 45%;
height: 5%;
background-color: gray;
}




.songBox{
	display: flex;
	border-right: solid;
	border-width: 1px;
	width: 15%;
	height:115%;
	float:left;
    flex-direction: column;
}
.songBoxBuffer{
	width:100%;
	height:4.25%;
	text-align: center;
	vertical-align: middle;
    border-bottom: solid;
	 font-size: 1.4em;
}
.repeatSongBoxes{
    border-bottom: solid;
    border-width: 1px;
    display:flex;
    height:6%;
    flex-wrap: wrap;
 	border: 1px solid #aaa;
}
.repeatSongBoxes:hover{
    border-bottom: solid;
    background-color: grey;
    cursor:pointer;
}

.repeatSongNameBox{
 order: 0; 
 width:75%;
 font-weight: bold;
 font-size: 1.25em;
 text-align: center;
 white-space: nowrap;
}
.repeatSongUserBox{
 color: #31a5ff;
 font-size: .75em;
}
.repeatSongUpBox{
 width:25%;

 text-align: center;
 order: 1;
}
.repeatSongUpBoxImg{
	margin-top: 10%;
	width:25px;
}
.repeatBoxes{
	display: block;
    border-bottom: solid;
    border-width: 1px;
}
.repeatBoxes:hover{
	background-color: grey;
	cursor:pointer;
}

.repeatBoxesSelected{
	background-color: grey;
	cursor:pointer;
	color:white; 
}


/*.historyTag{
	display: inline;
    border-left: solid;
    float:right;
    border-width: 1px;
    padding-left:2px;
    font-size: 18px;
}*/


.logo{
width: 45%;
margin-left: 20%;
}



 
.nv-file-over { 
	border: dotted 1.5px green; 
} 

.another-file-over-class {
 border: dotted 1.5px green;
 }
.itemURL
{
height: 50px;
margin-top: 10px;
margin-bottom: 10px;
}

.radioButtons{
width:15%;
display:flex;
flex-direction: column;
justify-content: space-around;
/*background-color: blue;*/
align-items: center;
}
.playerSongData{
      width: 82%;
 	  height: 75%;
  	  text-align: center;
  	  display:flex;

	  flex-direction: column;
	  justify-content: space-around;
	  background: #f9f9f9;
  	  margin: 1.2em 0 6px 0;
      border: 1px solid #ddd;
}

.rateItMessage{
	  font-size: x-large;
	 display:flex;
	 height:40%;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	 /*background-color: white;*/
}
.votingArea{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
  /*background-color: green;*/

}

.upvoteButton{
zoom: 60%;
width:99px;
height:99px;
background: url('../media/pic/upvote.png') 0px 0px;
border:none;
}
.upvoteButton:hover{
width:99px;
height:99px;
background: url('../media/pic/upvote.png') 99px 0px;
}

.downvoteButton{
	zoom: 60%;
width:99px;
height:99px;
background: url('../media/pic/downvote.png') 0px 0px;

}


.downvoteButton:hover{
width:99px;
height:99px;
background: url('../media/pic/downvote.png') 99px 0px;

}

.playButton{
zoom: 70%;
width:99px;
height:99px;
background: url('../media/pic/play.png') 0px 0px;
}
.playButton:hover{
width:99px;
height:99px;
background: url('../media/pic/play.png') 99px 0px;
}
.pauseButton{
zoom: 70%;
width:99px;
height:99px;
background: url('../media/pic/pause.png') 0px 0px;
}
.pauseButton:hover{
width:99px;
height:99px;
background: url('../media/pic/pause.png') 99px 0px;
}

/*playerbar*/
.progressBar{
	order:0;
	height:15%;
	width:100%;
}
.progress{
height:10%;
}
.miniprogress{
	height:100%;
}

input[type=range] {
	-webkit-appearance: none;
	border-radius: 0px;
	vertical-align: middle;
	outline: none;
	border:none;
	padding: 0;
	position: relative;
	vertical-align: middle;
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100%;
	background: transparent;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;

}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	position: relative;
	pointer-events:none;
	width: 8px;
	height: 100%;
}
input[type=range]::-webkit-slider-runnable-track {
	background: #757575; 
	height: 8px;
	margin:5px 0;

}
input[type=range]::-webkit-slider-thumb:before {
	content:"-";
	font-style: 0;
	line-height:0;
	position: absolute;
	left:-3000px;
	right:0;
	top:0;
	bottom:0;
	background: #1677bb;
}
input[type=range]::-webkit-slider-thumb:after {
	content: "";
	position: absolute;
	left:-4px;
	right:-4px;
	top:-4px;
	bottom:-4px;
	background: #adadad;
	border-radius: 50%;
	border:5px solid #e8e8e8;
	z-index: 10;
}
input[type=range]:focus {
	outline:none;
}
input[type=range]:hover::-webkit-slider-thumb:after,
input[type=range]:focus::-webkit-slider-thumb:after {
	background: black;
}
input[type=range]:disabled::-webkit-slider-thumb:before {
	background-color: #a1151a;
}
input[type=range]:disabled::-webkit-slider-thumb:after {
	background: #adadad !important;
}
/*end of playerbar*/

/*bootstrap override*/
input[type="range"] {

}

.form-control {
    padding-right: 30px;
}

.form-control + .glyphicon {
    position: absolute;
    right: 0;
    padding: 9px 0px;
}

/*signup.html*/
#signupMessage{
	float:left;
}

/*songForm.html*/
.carousel-control.left, .carousel-control.right {
    height: 3em;
    margin-top: 20%;
}
.carousel-indicators {
}

.carousel-indicators li {
  background-color: #669966;
}
.carousel-indicators .active {
  background-color: #FF7600;

}
